<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.number_field(:age, in: 1..100) %>
  </div>

  <div class="check_box">
    <%= f.label :married %><br />
    <%= f.check_box :married %>

  </div>

  <div class="check_box">
    <%= f.label :children %> <br>
    <%= f.check_box :children %>
  </div>


  <div class="field">
    <%= f.label :bothersome_level %> <br>
    <%= f.number_field(:bothersome_level, in: 1..5) %>
    <%= f.select("bothersome_level", options_for_select([['1',1], ['2',2], ['3',3], ['4',4], ['5',5]] ), { include_blank: true })  %>
  </div>

  <div class="field">
    <%= f.label :wallet, "Amount of cash in wallet" %> <br>
    <%= f.text_field :wallet %>
  </div>





  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
