<div class="container">
<h1>Rabbi <%= @rabbi.last_name %>'s Profile</h1>

<p>Birthday: <%= @rabbi.dob.strftime("%A, %B %d, %Y") if @rabbi.dob %></p>

<p>Affiliated Branch of Judaisim: <%= @rabbi.branch_of_judaism %></p>

<p>Charisma Level: <%= @rabbi.charisma_level %></p>

<p>You have <%= pluralize(@upcoming_appoitments_count, "appointment")%> and <%= pluralize(@rabbi.client_count, "client")%>.  </p>

</p>

<%= button_tag "Message the Rabbi" %> 

<p><%= link_to "Edit Rabbi", edit_rabbi_path(@rabbi)%></p>

<%= link_to "Back", :back %>


</div>
