<h1>Add Money to your Account</h1>
<h3>Your Current Balance: <%= number_to_currency(@user.wallet) %></h3>
<%= form_tag(update_user_money_path, method: :patch) %>
<div class="field">
  <%= label_tag "wallet", "Amount to Add: $" %>
  <%= text_field_tag "wallet" , nil ,  placeholder: "0.00" %>
</div><br>

<div class="field">
  <%= label_tag "credit_card", "Credit Card Number:" %>
  <%= text_field_tag "credit_card" %>
</div><br>

<div class="action">
  <%= submit_tag "Add Money" %>
</div>
