<h1> Welcome <%= @user.name %>!</h1>


<% if @user.wallet > 0 %>
  <p>You have <%= number_to_currency(@user.wallet)%> in your wallet</p>
<% else %>
  <p>You are broke! <%= link_to 'Add  money to your account', edit_user_money_path(@user) %> to add more money. </p>
  <% end %>
<% if @user.rabbis.any? %>
  <p>You have <%=pluralize(@user.rabbis.count, 'Rabbi') %>.</p>
<% else %>
  <p>You don't have any Rabbi's yet. <%= link_to "Make an appointment",  new_user_appointment_path(@user)%> to get one.</p>
<% end %>


<div class="link">
  <%= link_to "Edit you profile", edit_user_registration_path if !current_user.provider %>
</div>

<div class="link">
  <%= link_to "Add more money to your account", edit_user_money_path(@user) %>
</div>
<p><article><a href="#" id="users">List Users</a> </article></p>

<script type="text/javascript">
</script>
