



  <div name='form-wrapper' class="w-25 px-5 py-1  mx-auto bg-info rounded">

<div class="signin-form">
  <h3 class="text-center p-4 text-white "> <%= heading %> </h3>

  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h4><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h4>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



    <%= form_for [@user, @appointment] do |f| %>
    <%= f.fields_for :rabbi, @rabbi do |r| %>

        <div class="field form-group">
          <%= r.text_field :first_name, placeholder: "Rabbi's first name", class: 'form-control'  %>
        </div>
        <div class="field form-group">
          <%= r.text_field :last_name, placeholder: "Rabbi's last Name", class: 'form-control' %>
        </div>
      <% end %>

  <div class="field form-group">
    <%= f.collection_select(:service_id, Service.all ,:id, :name, {:prompt => 'Select a purpose'}, class: 'form-control-sm' ) %>
  </div>



  <div class="field form-group">
    <%= f.date_select :time_and_date, {prompt: true, start_year: Date.current.year, end_year: Date.current.year + 1, order: [:day, :month, :year]}, {class: 'form-control-sm'} %>
  </div>

  <div class="field form-group">
    <%= f.time_select :time_and_date, {ampm: true , :ignore_date => true, minute_step: 15, prompt: true }, {class: 'form-control-sm'}%>
  </div>


  <div class="action form-group">
    <%=f.submit nil, class: 'btn btn-primary' %>
  </div>



  <%end %>
 </div>
</div>
