<div class="form">

<%= form_for [@user, @appointment]  do |f| %>

<div class="">
  <label for="rabbi_id">With Rabbi:</label>
  <%= f.collection_select(:rabbi_id, Rabbi.all ,:id, :name, {:prompt => 'Select a Rabbi'} ) %>
</div>
<p>Can't find your Rabbi? <br> Add one here:</p>
<fieldset>
  <legend>Rabbi</legend>
  <%= f.fields_for :rabbi do |r| %>

    <div class="field">
      <%= r.label :name %>
      <%= r.text_field :name, value: "" %>

    </div><br>

    <div class="field">
      <%= r.label :age %>
      <%= r.number_field(:age, in: 1..100, value: "") %>
    </div><br>

    <div class="">
      <%= r.label :years_of_experience %>
      <%= r.number_field(:years_of_experience, in: 0..50, value: "")  %>
    </div> <br>

    <div class="field">
      <%= r.label :branch_of_judaism %>
      <%= r.text_field :branch_of_judaism, value: ""  %>
    </div><br>

    <div class="field">
      <%= r.label :charisma_level %>
      <%= r.select(:charisma_level, options_for_select([['1',1], ['2',2], ['3',3], ['4',4], ['5',5]] ), { include_blank: true })  %>
    </div>
  <% end %>
</fieldset><br>


<div class="">
  <label for="service_id">Purpose?</label>
  <%= f.collection_select(:service_id, Service.all ,:id, :name, {:prompt => 'Select a purpose'} ) %><br><br>
</div>



<div class="">
  <%= f.label :starttime, "Date:"  %>
  <%= date_select :appointment, :starttime %>
</div><br>

<div class="">
  <%= f.label :starttime, "Time:" %>
  <%= time_select :appointment, :starttime, ampm: true , :ignore_date => true, minute_step: 15 %>
</div><br>

<div class="action">
  <%=f.submit %>
</div>



<%end %>
</div>
