<h2>Schedule your Appointment</h2>
<div class="form">



  <% if @appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% @appointment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
<%= form_for [@user, @appointment]  do |f| %>
  <%= f.fields_for :rabbi, @rabbi do |r| %>

      <div class="field">
        <label>Enter a Rabbi</label><br>
        <%= r.text_field :first_name, placeholder: "First name" %>
      </div><br>
      <div class="field">
        <%= r.text_field :last_name, placeholder: "Last Name" %>
      </div><br>
    <% end %>

<div class="field">
  <label for="service_id">Purpose?</label>
  <%= f.collection_select(:service_id, Service.all ,:id, :name, {:prompt => 'Select a purpose'} ) %><br><br>
</div>



<div class="field">
  <%= f.label :starttime, "Date:"  %>
  <%= f.date_select :starttime %>
</div><br>

<div class="field">
  <%= f.label :starttime, "Time:"  %>
  <%= f.time_select :starttime, ampm: true , :ignore_date => true, minute_step: 15 %>
</div><br>


<div class="action">
  <%=f.submit %>
</div>



<%end %>
</div>
