<h2>Appointment Summary</h2>

<p>Rabbi: <%= link_to "#{@appointment.rabbi.first_name} #{@appointment.rabbi.last_name}", rabbi_path(@appointment.rabbi) %></p>
<p>Time: <%= @appointment.time_and_date.strftime("%I:%M %p") %></p>
<p>Date: <%= @appointment.time_and_date.strftime("%A, %B %d, %Y") %></p>
<p>Reason: <%= @appointment.service.name %></p>
<p>For: <%= @user.name %></p>
<p>Fee: $<%= @appointment.service.fee %></p>


<%= link_to "Edit Appointment", edit_user_appointment_path(@appointment.user, @appointment) %>
<br><br>
<%= button_to "Cancel Appointment" , {action: "destroy"}, method: :delete   %>
