<h2>Appointment Summary</h2>

<p>Rabbi: <%= @appointment.rabbi.name %></p>
<p>Time: <%= @appointment.starttime.strftime("%I:%M %p") %></p>
<p>Date: <%= @appointment.starttime.strftime("%A, %B %y") %></p>
<p>Reason: <%= @appointment.service.name %></p>
<p>For: <%= @user.name %></p>

<%= link_to "Edit Appointment", edit_user_appointment_path(@appointment.user, @appointment) %>
<br><br>
<%= button_to "Cancel Appointment" , {action: "destroy"}, method: :delete   %>
