
<% if user_signed_in? %>
    <nav class="navbar  navbar-expand-lg navbar-light bg-light" >
      <%= link_to "Rabbi Appointment Tracker", user_path(current_user), class: "navbar-brand" %>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto" >
          <li class="nav-item " >
            <%= link_to "Upcoming Appointments", user_appointments_path(current_user), class: 'nav-link'  %>
          </li>
          <li class="nav-item" >
            <%= link_to "Make an Appointment", new_user_appointment_path(current_user), class: 'nav-link' %>
          </li>

          <li class="nav-item" >
            <%= link_to "Your Profile", user_path(current_user), class: 'nav-link' %>
          </li>

          <li class="nav-item" >
            <%= link_to "Find a Rabbi", rabbis_path, class: 'nav-link' %>
          </li>

          <li class="nav-item" >
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'nav-link' %>

          </li>
        </ul>
      </div>
    </nav>
<% else %>
<nav class="navbar navbar-expand-lg  navbar-light bg-light">
  <a class="navbar-brand">Rabbi Appointment Tracker</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "Sign Up", new_user_registration_path, class: 'nav-link' %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign In", new_user_session_path, class: 'nav-link' %>
      </li>
    </ul>

  </div>
</nav>
<% end %>
