<!DOCTYPE html>
<html>
  <head>
    <title>Rabbi Appointment Tracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= yield :cable %>


  </head>

  <body>
    <%= render 'layouts/nav_bar' %>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
